body{
    background-color: black;
    color: rgb(240, 255, 255);
}

h1{
    width: 161px;
}

h1:hover{
    color: rgba(240, 255, 255,0.7);
}

#I{
    height: 0.5px;
    background-color: #e9c46a;
}

a{
    text-decoration: none;
    font-weight: normal;
    color: #caf0f8;
}

a:hover{
    font-weight: bold;
}

main , #c{
    margin-top: 30px;
    margin-left: 20px;
}

main #c #r{
    display: inline-block;
    width: 350px;
    height: 447px;
    border: 2px double azure;
    margin-right: 20px;
}

#r #pic{
    margin: 3px 3px -7.9px;
    width: 342px;
    height: 410px;
    border: 1px solid azure;
}

#r #II{
    margin-bottom : 0px;
}

#r p{
    border: 1px solid azure;
    width: 340px;
    padding-left: 7px;
    margin-top: 1px;
    padding-bottom: 1px;
}